:root {
  box-sizing: border-box;
  font-family: 'Lato', 'Lucida Grande','Lucida Sans Unicode', Tahoma, Sans-Serif;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Lato, 'Lucida Grande';
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  padding: 2rem;
}

.app {
  position: relative;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  :root {
    font-size: 24px;
  }
}
