:root {
  box-sizing: border-box;
  font-family: 'Lato', 'Lucida Grande','Lucida Sans Unicode', Tahoma, Sans-Serif;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Lato, 'Lucida Grande';
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
